{
	"extends": ["@rocket.chat/eslint-config"],
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2018
	},
	"plugins": [
		"react",
		"jsx-a11y"
	],
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"node": true,
		"jquery": true
	},
	"rules": {
		"react/jsx-filename-extension": [1, {
			"extensions": [".js", ".jsx"]
		}],
		"react/require-default-props": [0],
		"react/no-unused-prop-types": [2, {
			"skipShapeProps": true
		}],
		"react/no-did-mount-set-state": 0,
		"react/no-multi-comp": [0],
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"react/forbid-prop-types": 0,
		"jsx-quotes": [2, "prefer-single"],
		"jsx-a11y/href-no-hash": 0,

		"react/display-name": 0,
        "react/jsx-key": 2,
        "react/jsx-no-comment-textnodes": 2,
        "react/jsx-no-duplicate-props": 2,
        "react/jsx-no-target-blank": 2,
        "react/jsx-no-undef": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-children-prop": 2,
        "react/no-danger-with-children": 2,
        "react/no-deprecated": 2,
        "react/no-direct-mutation-state": 2,
        "react/no-find-dom-node": 2,
        "react/no-is-mounted": 2,
        "react/no-render-return-value": 2,
        "react/no-string-refs": 2,
        "react/no-unescaped-entities": 2,
        "react/no-unknown-property": 2,
        "react/prop-types": 2,
        "react/react-in-jsx-scope": 2,
        "react/require-render-return": 2
	},
	"globals": {
		"Assets": true
	}
}
