/* CSS declarations go here */
select:focus {
	box-shadow: 0 0 2px #00F;
}

.ui.grey.labels .label, .ui.grey.label {
	background-color: #EAEAEA !important;
	border-color: #767676 !important;
	color: #CCC !important;
}

.calendar-item .sub.header {
	margin-bottom: 3px !important;
}

.calendar tr {
	vertical-align: top;
}

.calendar-item-overlay {
	position:absolute;
	/*opacity: .2;*/
	top: -2px;
	bottom: -4px;
	left: -7px;
	right: -7px;
	border-radius: 5px;
	z-index: 1;
	color: rgba(0,0,0,.6);
	padding: 2px 7px;
	background-color: hsl(0, 100%, 80%);
}