/* CSS declarations go here */
select:focus {
	box-shadow: 0 0 2px #00F;
}

.ui.grey.labels .label, .ui.grey.label {
	background-color: #EAEAEA !important;
	border-color: #767676 !important;
	color: #CCC !important;
}

.calendar-item .sub.header {
	margin-bottom: 3px !important;
}

.calendar tr {
	vertical-align: top;
}

.grade-item-name.link {
	cursor: pointer;
}