<template name="Calendars">
	<table class="ui very compact celled table">
		<thead>
			<tr>
				<th>
					Ações
				</th>
				<th>
					Nome
				</th>
			</tr>
		</thead>
		<tbody>
			{{#each calendars}}
				<tr>
					<td class="collapsing">
						<div class="ui icon buttons">
							<a class="ui button" href="{{pathFor 'calendarEdit' calendarName=_id}}">
								<i class="pencil icon"></i>
							</a>
							<button class="ui button">
								<i class="trash icon"></i>
							</button>
						</div>
					</td>
					<td>
						{{_id}}
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>