<template name="CalendarItem">
	{{#if item}}
		{{#each item}}
			<h5 class="ui header calendar-item" style="{{style}}">
				<div>
					{{gradeItem.name}}
					<div class="sub header" style="{{style}}">
						{{#if calendarItem.teacher}}
							<div>
								<i class="student icon"></i>
								<span class="detail">{{calendarItem.teacher}}</span>
							</div>
						{{/if}}
						<div>
							<i class="users icon"></i>
							{{calendarItem.interested}}
							<span class="detail">interessados</span>
						</div>
					</div>
					{{#if canMarkInterrest}}
						{{#if intereseted}}
							<button class="ui fluid mini teal labeled icon button remove-interest">
								<i class="minus icon"></i>
								Remover interesse
							</button>
						{{else}}
							<button class="ui fluid mini basic teal labeled icon button mark-interest">
								<i class="add icon"></i>
								Marcar interesse
							</button>
						{{/if}}
					{{/if}}
				</div>
			</h5>
		{{/each}}
	{{/if}}
</template>