<template name="CalendarEdit">
	<div class="ui dropdown labeled icon button shift">
		<i class="student icon"></i>
		<span class="text">Escolha o dia e turno</span>
		<div class="menu">
			<div class="ui icon search input">
				<i class="search icon"></i>
				<input type="text" placeholder="Search tags...">
			</div>
			<div class="scrolling menu">
				{{#each shifts}}
					<div class="divider"></div>
					<div class="header">
						<i class="tags icon"></i>
						{{name}}
					</div>
					{{#each days}}
						<div class="item" data-day="{{day}}" data-shift="{{../shift}}">
							{{name}} - {{../name}}
						</div>
					{{/each}}
				{{/each}}
			</div>
		</div>
	</div>

	<div class="ui dropdown labeled icon button subject">
		<i class="student icon"></i>
		<span class="text">Escolha a matéria</span>
		<div class="menu">
			<div class="ui icon search input">
				<i class="search icon"></i>
				<input type="text" placeholder="Search tags...">
			</div>
			<div class="scrolling menu">
				{{#each grade}}
					<div class="item" data-id="{{_id}}">
						<div class="ui red empty circular label"></div>
						{{getNames .}}
					</div>
				{{/each}}
			</div>
		</div>
	</div>

	<button class="ui green button add-calendar-item">
		Adicionar
	</button>

	<table class="ui very compact celled table">
		<thead>
			<tr>
				<th>
					Ações
				</th>
				<th>
					Turno
				</th>
				<th>
					Dia
				</th>
				<th>
					Nome
				</th>
				<th>
					<i class="users icon"></i>
				</th>
				<th>
					Professor
				</th>
			</tr>
		</thead>
		<tbody>
			{{#each calendar.grade}}
			<tr>
				<td class="collapsing">
					<button class="ui button remove-item" tabindex="-1">
						<i class="trash icon"></i>
					</button>
				</td>
				<td class="collapsing">
					{{getShift shift}}
				</td>
				<td class="collapsing">
					{{getDay day}}
				</td>
				<td>
					{{#each getGradeNames _id}}
						<div>
							{{.}}
						</div>
					{{/each}}
				</td>
				<td class="collapsing">
					{{interested}}
				</td>
				<td class="collapsing">
					<div class="ui input">
						<input type="text" class="teacher" value="{{teacher}}">
					</div>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</template>