<template name="GradeItem">
	<tr style="{{lineStyle}}">
		{{#if canEdit}}
		<td>
			<select class="ui dropdown">
				<option value="pending" {{isSelected 'pending'}}>Pendente</option>
				<option value="doing" {{isSelected 'doing'}}>Cursando</option>
				<option value="done" {{isSelected 'done'}}>Concluído</option>
			</select>
		</td>
		{{/if}}
		<td>
			{{semester}}
		</td>
		<td>
			{{#if description}}
				<i class="info green circle link icon"></i> 
			{{else}}
				<i class="red info circle icon"></i> 
			{{/if}}
			{{code}} - {{name}}
		</td>
		<td>
			{{#if requirement}}
				{{#each requirement}}
					{{#with getGradeItemByCode .}}
						<div class="ui {{requirementColor _id}} horizontal label" data-content="{{name}} - Semestre {{semester}}" data-variation="wide">{{code}}</div>
					{{/with}}
				{{/each}}
			{{/if}}
		</td>
		<td>
			{{credit}} / {{workload}}
		</td>
	</tr>
</template>
