<template name="Grade">
	{{> GradeInfo}}

	{{#with percentageDone}}
		<div class="ui three column grid">
			<div class="column">
				<div class="ui fluid">
					<div class="content">
						<div class="ui centered header">Compartilhar</div>
						<div class="description">
							<div class="ui fluid left icon input large">
								<input type="text" class="autoselect" value="{{url}}">
								<i class="linkify icon"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui fluid">
					<div class="content">
						<div class="ui centered header">Conclusão do curso</div>
						<div class="description">
							<div class="ui progress success">
								<div class="label">{{done}} de {{total}}</div>
								<div class="bar" style="transition-duration: 1000ms; -webkit-transition-duration: 1000ms; width: {{./percentageDone}}%;">
									<div class="progress">{{./percentageDone}}%</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui fluid">
					<div class="content">
						<div class="ui centered header">Conclusão do curso + cursando</div>
						<div class="description">
							<div class="ui progress warning">
								<div class="label">{{doing}} de {{total}}</div>
								<div class="bar" style="transition-duration: 1000ms; -webkit-transition-duration: 1000ms; width: {{percentageDoing}}%;">
									<div class="progress">{{percentageDoing}}%</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/with}}

	{{#if Template.subscriptionsReady}}
	<table class="ui celled padded table">
		<thead>
			<tr>
				{{#if canEdit}}
				<th>
					<select class="ui dropdown">
						<option value="all" {{isSelected 'all'}}>Todos os Status</option>
						<option value="pending" {{isSelected 'pending'}}>Pendentes</option>
						<option value="doing" {{isSelected 'doing'}}>Cursando</option>
						<option value="done" {{isSelected 'done'}}>Concluídas</option>
					</select>
				</th>
				{{/if}}
				<th>Semestre</th>
				<th>Código - Nome</th>
				<th>Dependencias</th>
				<th>Créditos / Carga Horária</th>
			</tr>
		</thead>
		<tbody>
			{{#each grade}}
				{{#with getItemOfCourse}}
					{{> GradeItem}}
				{{/with}}
			{{/each}}
		</tbody>
	</table>
	{{/if}}
</template>