<head>
	<title>Grade Faccat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
</body>

<template name="Layout">
	<div class="ui container">
		<div class="ui stackable menu">
			<div class="header item">
				Grade Faccat
			</div>
			<a class="item {{isActive 'si'}}" href="/course/si">
				Grade SI
			</a>
			<a class="item {{isActive 'tsi'}}" href="/course/tsi">
				Grade tSI
			</a>
			<div class="right menu">
				{{> loginButtons}}
			</div>
		</div>

		{{> yield}}
	</div>
</template>