<head>
	<title>Grade Faccat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div id="render-target"></div>
</body>

<template name="Layout">
	<div class="ui container">
		<div class="ui stackable menu">
			<div class="header item">
				Grade Faccat
			</div>
			<div class="ui dropdown item">
				Cursos <i class="dropdown icon"></i>
				<div class="menu">
					<a class="item" href="/course/si">
						Grade SI
					</a>
					<a class="item" href="/course/tsi">
						Grade tSI
					</a>
				</div>
			</div>
			<div class="ui dropdown item">
				Calendários <i class="dropdown icon"></i>
				<div class="menu">
					{{#each calendars}}
						<a class="item" href="/calendar/{{_id}}/si">
							{{_id}} SI
						</a>
						<a class="item" href="/calendar/{{_id}}/tsi">
							{{_id}} tSI
						</a>
					{{/each}}
				</div>
			</div>

			{{#if isAdmin}}
				<a class="item" href="/calendars">
					Editar calendários
				</a>
			{{/if}}
			<div class="right menu">
				{{> loginButtons}}
			</div>
		</div>

		{{> yield}}
	</div>
</template>
